.tech-stack {
	justify-content: space-around;
}
.tech-stack h1 {
	padding-top: 2rem;
}
.skillsSection {
	margin: auto;
}

.tech-stack iframe {
	text-align: center;
	padding: 2rem;
	width: 90vw;
	height: 600px;
	border: 1px solid var(--dark);
	border-radius: .8rem;
	overflow: hidden;
}
