.border-bottom {
	background-color: #333;
}
.home {
	align-content: center;
	justify-content: center;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 5px 1fr 0.2fr 0.5fr;
	grid-template-areas: ".... ...." "title ..." "hire-me hire-me" "social-icons social-icons";
}
.center {
	margin: auto;
	text-align: center;
}
.title {
	justify-content: center;
	width: 100vw;
	grid-area: title;
	margin: 2rem auto;
	padding: 2rem;
	text-align: center !important;
}
.title h4 {
	font-size: 2rem;
}
.title h6 {
	font-size: 1.5rem;
}

.hire-me {
	grid-area: hire-me;
	margin: auto;
}

.hire-me button {
	border: 2px solid gray;
	padding: 1rem 2.5rem;
	border-radius: 1.3rem;
	color: black;
	background: transparent;
}

.hire-me button:hover {
	background-color: var(--green);
	color: white;
}
.social-icons {
	grid-area: social-icons;
	margin: 10px;
	font-size: 2em;
	text-align: center;
	align-content: center;
}

.social-icons a {
	text-align: center;
	margin: 5px;
	align-self: center;
	transition: 0.5s;
	text-decoration: none !important;
}
.social-icons a .fa-github {
	color: #f2f2f2;
}

.social-icons a .fa-facebook-f {
	color: #4267b2;
}
.social-icons a .fa-linkedin-in {
	color: #0077b5;
}

.social-icons a .fa-twitter {
	color: #38a1f3;
}
.social-icons a .fa-instagram {
	color: #bc2a8d;
}
.social-icons a svg:hover {
	color: var(--green);
}
.social-icons a .fa-github {
	color: black;
}
