@import url('https://fonts.googleapis.com/css?family=Ubuntu');

.App {
  flex: 1;
  text-align: center;
  color: #fff;
  width: 100vw;
  height: 100vh;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  margin: 0;
}



:root {
  --light: chfff;
  /*80px is 24px from footer and 56px from navbar*/
  --stickyFooter: calc(100vh - 80px);
  --headerHeight: 200px;
}


/* Basic Setup*/


#root{

  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

body {
  font-family: 'Ubuntu', sans-serif;

}


a {
  text-decoration: none;
}

a:hover,
a:link {
  color: var(--green);
  text-decoration: none;
  cursor: pointer;
}

.home,
.about,
.tech-stack,
.work,
.contact,
.not-found {
  display: grid;
  grid-column-gap: 1rem;
  min-height: var(--stickyFooter);
  width: 90%;
  margin: 0 auto;
}


/* Home Page */

.border-bottom{
  background-color: #333;
}
.home {
align-content: center;
justify-content: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 5px 1fr 0.2fr 0.5fr;
  grid-template-areas: ".... ...." "title ..." "hire-me hire-me" "social-icons social-icons";
}
.center{
  margin: auto ;
  
}
.title {
  width: 100%; 
  grid-area: title;
  margin: 2rem 17rem;
  padding: 0 1rem;
  text-align: center;
  text-align: center !important;
}
.title h1 {
  font-size: 3rem;
}
.title h6 {
  font-size: 1.5rem;
}


.hire-me {
  grid-area: hire-me;
  margin: auto;

}

.hire-me a {
  border: 2px solid #f2f2f2;
  padding: 1rem 2.5rem;
  border-radius: 1.3rem;
  color: white;

}

.hire-me a:hover {
  background-color: var(--green);
  color: white;
}

.social-icons {
  grid-area: social-icons;
  margin: auto;
  font-size: 4em;
text-align: center;
align-content: center;
}
.social-icons a {
  color: #ccc;
text-decoration: none !important;
}


.social-icons a:hover {
  color: green;
}

/* About Page */
.about {
  grid-template-columns: 1fr 4fr;
  grid-template-rows: auto auto 1fr;
  grid-template-areas:
  "about-h1 ..."
  "social-icons aboutme-text"
  ".. ..";
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.about h1 {
  grid-area: about-h1;
}

.aboutme-text {
  margin:  auto;
  grid-area: aboutme-text;
}

.aboutme-text a {
  color: var(--green);
}

.pict-wrapper {
  margin: auto;
  grid-area: pict-wrapper;
  height: 30vw;
  width: 30vh;
  border: 1px solid #ccc;
}

.pict-wrapper img {
  position: relative;
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  background-size: cover;
}

/*TECH*/
.skillsSection svg {
  width: 21rem;
  height: 13rem;
  padding-top: 5rem;
  position: relative;
}
.tech-stack h1{
  padding-top: 2rem;
}
.skillsSection {

  text-align: center;
padding: auto;
 border: 1px solid #ccc;

}

.lg_break {
  width: 0;
}



/* Work Page */
.work {
  margin: auto;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto 1fr 1fr 1fr;
  grid-template-areas:
  "workh1 .."
  "work-text work-text"
  "work-0 work-1"
  "work-2 work-3"
  "work-4 work-5";
  padding-top: 2rem;
  padding-bottom: 1rem;
}
.work h1 {
  grid-area: workh1;
}

.card-body a {
  margin: .5rem;
}

.work-text {
  grid-area: work-text;
}

.work-0 {
  grid-area: work-0;
}
.work-1 {
  grid-area: work-1;
}
.work-2 {
  grid-area: work-2;
}
.work-3 {
  grid-area: work-3;
}
.work-4 {
  grid-area: work-4;
}
.work-5 {
  grid-area: work-5;
}

.card,
.card a {
  color:  var(--light);
}

.card a:hover {
  color:  var(--green);
}

/* Contact Page */

.contact {
  margin: auto;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1rem 1fr 1fr 0.5fr;
  grid-template-areas:
  ".. .."
  "contact-text google-map"
  "contact-text google-map"
  ".. google-map";
  padding-top: 2rem;
}
.contact-text {
  grid-area: contact-text;
  margin: auto;
}
.contact-text h3 a{
color: tomato;
}
.contact-text Button {
  background-color: green;
  color: #fff;
  border-color: #ccc;
}
 

.google-map {
  grid-area: google-map;
  width: 100%;
  height: 500px;
}

/* 404 */

.not-found {
  z-index: 30;
  margin: auto;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr auto 0.1fr auto 1fr;
  grid-template-areas:
  "...."
  "notfoundh1"
  "notfoundh3"
  "notfoundh6"
  "social-icons";
}
.not-found h1 {
  z-index: 30;
  margin: auto;
  grid-area: notfoundh1;
}

.not-found h3 {
  z-index: 30;
  margin: auto;
  grid-area: notfoundh3;
}
.not-found h6 {
  z-index: 30;
  margin: auto;
  grid-area: notfoundh6;
}

.not-found h6 a {
  color:  var(--orange);
}
.fourZeroFour{
  color: rgba(255, 255, 255, 0.2);
  margin: 0 auto;
  position: absolute;
  display: grid;
  user-select: none;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr auto 1fr;
  grid-template-areas:
  "... ... ... ... ..."
  "... four zero for ..."
  "... ... ... ... ...";
  font-size: 40rem;
}
.four{
  margin: auto;
  grid-area: four;
}

.zero {
  margin: auto;
  grid-area: zero;
}

.for{
  margin: auto;
 grid-area: for;
}


/* Footer */

footer {
  text-align: center;
  height: 40px;
  width: 100%;
}

footer p {
  margin: auto;
}

footer a {
  color: var(--orange);
}

/* Mobile Mode */

@media (max-width: 1370px) {

  .home {
    width: 100%;
    grid-template-columns: 1fr 0.5fr;
    grid-template-rows: 0.05fr auto 0.5fr 0.1fr;
  }
  .title h1 {
    width: 100%;
    font-size: 4rem;
    line-height: 100%;
  }

  .title h6 {
    padding: 1rem 0;
    margin: 0;
  }
}

@media (max-width: 1200px) {

  .fourZeroFour{
    font-size: 35rem;
  }
}

@media (max-width: 992px) {
  .contact {
  grid-gap: 1rem;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
  "contact-text"
  "google-map";
  }

  .google-map {
    height: 400px;
    padding-bottom: 1rem;
  }

  .fourZeroFour{
    font-size: 25rem;
  }
}


@media (max-width: 768px) {

  .about {
  grid-template-columns: 1fr;
  grid-template-rows: 1rem 0.1fr 0.4fr auto;
  grid-template-areas:
  "..."
  "about-h1"
  "social-icons" "aboutme-text";
  }
  .work {
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
  "workh1"
  "work-text"
  "work-0"
  "work-1"
  "work-2"
  "work-3"
  "work-4"
  "work-5";
  }

  .fourZeroFour{
    font-size: 20rem;
  }
}

@media (max-width: 576px) {

  .home {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1rem 1fr 0.2fr 0.5fr;
  grid-template-areas:
  ".... "
  "title"
  "hire-me"
  "social-icons";
  }

  .title {
    grid-area: title;
    margin: auto;
    padding: 0 1rem;
  }

  .fourZeroFour{
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
  "... four ..."
  "... zero ..."
  "... for ...";
  font-size: 13rem;
}
}